<!DOCTYPE html>
<html>
    <head>
        <title>MyCodeBlog</title>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <!-- As a link -->
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 hl" style="font-weight: bold;">MyCodeBlog</span>
            </nav>
        </header>

        <section>
            <div class="container" style="width: 60%; padding-bottom: 30px;">
                
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                        <li class="breadcrumb-item active" aria-current="page">Posts</li>
                    </ol>
                </nav>
                
                <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
                    <div class="card-body">
                        Teste
                    </div>
                </div>

            </div>
        </section>
    </body>
</html>
