<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>MyCodeBlog</title>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <!-- As a link -->
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 hl" style="font-weight: bold;">MyCodeBlog</span>
            </nav>
        </header>

        <section>
            <div class="container" style="width: 60%; padding-bottom: 30px;">
                
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                        <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Novo Post</li>
                    </ol>
                </nav>
                
                <div>
                    <form method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="titulo" placeholder="Título *"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="autor" placeholder="Autor *"/>
                        </div>
                        
                        <textarea type="text" class="form-control" name="texto" placeholder="Texto *"></textarea>
                        
                        <small class="form-text text-muted">(*) Campos obrigatórios</small>
                        
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
                        <a href="/posts" class="btn bg-light" role="button" style="margin-top: 10px;">Cancelar</a>
                        <!--<button type="submit" class="btn" style="margin-top: 10px;">Cancelar</button>-->
                    </form>
                </div>

            </div>
        </section>
    </body>
</html>
