/TesteAjax/nbproject/private/
/TesteAjax/build/
/FazendaWebService/nbproject/private/
/FazendaWebService/build/
/FazendaWebService/dist/
/ConsumindoWSFazenda/nbproject/private/
/ConsumindoWSFazenda/build/
/java8teste/nbproject/private/
/java8teste/build/
/SpringBootProjectTest/target/
/estruturadados-algoritmos-java/nbproject/private/
/estruturadados-algoritmos-java/build/