<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Sistema Clinica PetShop</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="../../style/styleCss.css"/>
    </head>    
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Lista de Vendas</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/clinicas" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Clinicas</a></li>

                    </ul>
                </div>
            </nav>
        </header>

        <table class="container">
            <thead>
                <tr>
                    <th>Codigo da venda</th>
                    <th>Data da venda</th>
                    <th>Pagamento Finalizado</th>
                    <th>Forma de Pagamento</th>
                    <th>Ver os Produtos vendidos</th>
                    <th>Nome do Dono(Cliente)</th>
                    <th>Alterar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="venda : ${vendas}">
                    <td><a th:href="${(#mvc.url('AC#detalhesVenda').arg(0, venda.id)).build()}"><span th:text="${venda.id}"></span></a></td>
                    <td><span th:text="${venda.datavenda}"></span></td>
                    <td><span th:text="${venda.pago}"></span></td>
                    <td><span th:text="${venda.formapagamento}"></span></td>
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('AC#listaProdVendidos').arg(0, venda.id)).build()}"><i class="material-icons left">shopping_cart</i></a></td>
                    <td><a th:href="${(#mvc.url('DC#detalhesDono').arg(0, venda.dono.cpf)).build()}"><span th:text="${venda.dono.nome}"></span></a></td>
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('AC#alterarVenda').arg(0, venda.id)).build()}"><i class="material-icons left">update</i></a></td>
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('AC#deletarVenda').arg(0, venda.id)).build()}"><i class="material-icons left">delete</i></a></td>        
            </tbody>
        </table>
        
        <h3>Cadastro de Vendas:</h3>
        
        <div class="container formVenda">    
            <form th:object="${venda}" method="post">
                Data da venda: <input type="text" value="" name="datavenda" placeholder="Data da venda"/>
                Pagamento finalizado: <input type="text" value="" name="pago" placeholder="Pagamento finalizado"/>
                Forma de Pagamento: <input type="text" value="" name="formapagamento" placeholder="Forma de pagamento"/>
                Insira o CPF do Dono(Cliente): <input type="text" value="" name="coddono" placeholder="Codigo do Dono(Cliente)"/>
                <button class="waves-effect waves-light btn" type="submit">Adicionar</button>
            </form>
        </div>



        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>    
</html>



