<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Sistema Clinica PetShop</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="../../style/styleCss.css"/>
    </head>    
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Lista de Donos</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/clinicas" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Clinicas</a></li>

                    </ul>
                </div>
            </nav>
        </header>

        <table class="container">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Alterar</th>
                    <th>Deletar</th>
                    <th>Ver Cachorros</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dono : ${donos}">
                    <td><a th:href="${(#mvc.url('DC#detalhesDono').arg(0, dono.cpf)).build()}"><span th:text="${dono.cpf}"></span></a></td>
                    <td><span th:text="${dono.nome}"></span></td>
                    <td><span th:text="${dono.endereco}"></span></td>
                    <td><span th:text="${dono.telefone}"></span></td>
                    <td><span th:text="${dono.email}"></span></td>                    
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('DC#alterarDono').arg(0, dono.cpf)).build()}"><i class="material-icons left">update</i></a></td>
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('DC#deletarDono').arg(0, dono.cpf)).build()}"><i class="material-icons left">delete</i></a></td>        
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('VC#listaCachorros').arg(0, dono.cpf)).build()}"><i class="material-icons left">pets</i></a></td>
            </tbody>
        </table>
        
        <p class="botaoCachorro">Clique no Botão a seguir caso queira ir para <strong>Cadastro de Donos</strong>: <a class="waves-effect waves-light btn-small" href="/cadastrar_dono"><i class="material-icons left">pets</i></a></p>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>    
</html>
