<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>SisPetShop</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../../materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" href="../../../style/styleCss.css"/>
    </head>    
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Venda</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/clinicas" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Clinicas Pet</a></li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        
        <h3><strong>Detalhes da Venda: </strong></h3>
        
        <h5><strong>Dados da Venda: </strong></h5>
        <div th:each="venda : ${venda}" class="container detalhesVenda">
            <p>Codigo da venda: <span th:text="${venda.id}"></span></p>
            <p>Data da venda: <span th:text="${venda.datavenda}"></span></p>
            <p>Pagamento Finalizado: <span th:text="${venda.pago}"></span></p>
            <p>Forma de Pagamento: <span th:text="${venda.formapagamento}"></span></p>
        </div>
        
        <h5><strong>Dados do Dono: </strong></h5>
        <div th:each="dono : ${dono}" class="container detalhesVenda">
            <p>CPF do Dono: <span th:text="${dono.cpf}"></span></p>
            <p>Nome: <span th:text="${dono.nome}"></span></p>
            <p>Endereço: <span th:text="${dono.endereco}"></span></p>
            <p>Telefone: <span th:text="${dono.telefone}"></span></p>
            <p>E-mail: <span th:text="${dono.email}"></span></p>
        </div>
        
        <h5><strong>Dados do(a) Atendente: </strong></h5>
        <div th:each="atendente : ${atendente}" class="container detalhesVenda">
            <p>Nome do Atendente: <span th:text="${atendente.nome}"></span></p>
            <p>Idade: <span th:text="${atendente.idade}"></span></p>
        </div>

        <p>Clique no link a seguir caso queira voltar para a <strong>Lista de Vendas</strong> da Clinica Pet Shop: <a th:href="${(#mvc.url('AC#listaVendas').arg(0, atendente.id)).build()}"><span th:text="${atendente.clinica.nome}"></span></a></p>
        
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>    
</html>





