<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Sistema Clinica PetShop</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="../../style/styleCss.css"/>
    </head>    
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Lista de Consultas</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/clinicas" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Clinicas</a></li>

                    </ul>
                </div>
            </nav>
        </header>

        <table class="container">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Nome do Cachorro</th>
                    <th>Nome do Veterinário</th>
                    <th>Alterar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="consulta : ${consultas}">
                    <td><a th:href="${(#mvc.url('VC#detalhesConsulta').arg(0, consulta.id)).build()}"><span th:text="${consulta.data}"></span></a></td>
                    <td><span th:text="${consulta.horario}"></span></td>
                    <td><a th:href="${(#mvc.url('VC#detalhesCachorro').arg(0, consulta.cachorro.id)).build()}"><span th:text="${consulta.cachorro.nome}"></span></a></td>
                    <td><a th:href="${(#mvc.url('VC#detalhesVeterinario').arg(0, consulta.veterinario.crmv)).build()}"><span th:text="${consulta.veterinario.nome}"></span></a></td>
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('VC#alterarConsulta').arg(0, consulta.id)).build()}"><i class="material-icons left">update</i></a></td>
                    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('VC#deletarConsulta').arg(0, consulta.id)).build()}"><i class="material-icons left">delete</i></a></td>        
            </tbody>
        </table>
        
        <h3>Cadastro de Consulta:</h3>
        
        <div class="container formConsulta">    
            <form th:object="${consulta}" method="post">
                Data: <input type="text" value="" name="data" placeholder="Data"/>
                Horário: <input type="text" value="" name="horario" placeholder="Horário"/>
                Insira o codigo do Cachorro: <input type="text" value="" name="codigo" placeholder="Codigo"/>
                <button class="waves-effect waves-light btn" type="submit">Adicionar</button>
            </form>
        </div>



        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>    
</html>


