<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Sistema Clinica PetShop</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../../../style/styleCss.css"/>


    </head>          
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Alterar Cadastro de Consulta:</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/clinicas" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Clinicas</a></li>

                    </ul>
                </div>
            </nav>
        </header>

        <div class="container formConsulta">
            <form class="container" method="post">
                <h5>Dados da Consulta</h5>
                <div>
                    Codigo do Cachorro: <input type="text" th:value="${consulta.cachorro.id}" name="codcachorro"/>
                </div>
                <div>
                    Codigo do Veterinário: <input type="text" th:value="${consulta.veterinario.crmv}" name="codveterinario"/>
                </div>
                <div class="row">
                    <div class="input-field col s9">
                        Data: <input type="text" th:value="${consulta.data}" name="data"/>
                    </div>
                    <div class="input-field col s3">
                        Horário: <input type="text" th:value="${consulta.horario}" name="horario"/>
                    </div>
                </div>
                
                <button class="waves-effect waves-light btn" type="submit" >Alterar</button>
                
            </form>
        </div>


        <div th:each="consulta : ${consulta}" class="container detalhesConsulta">
            <h5><strong>Dados da Consulta: </strong></h5>
            <p>Data: <span th:text="${consulta.data}"></span></p>
            <p>Horário: <span th:text="${consulta.horario}"></span></p>
        </div>
        
        <div th:each="cachorro : ${cachorro}" class="container detalhesConsulta">
            <h5><strong>Dados do Cachorro: </strong></h5>
            <p>Id do Cachorro: <span th:text="${cachorro.id}"></span></p>
            <p>Nome do Cachorro: <span th:text="${cachorro.nome}"></span></p>
            <p>Raça: <span th:text="${cachorro.raca}"></span></p>
            <p>Peso: <span th:text="${cachorro.peso}"></span></p>
            <p>Altura: <span th:text="${cachorro.altura}"></span></p>
            <p>Histórico: <span th:text="${cachorro.historico}"></span></p>
            <p>Vacina: <span th:text="${cachorro.vacina}"></span></p>
        </div>
        
        <div th:each="veterinario : ${veterinario}" class="container detalhesConsulta">
            <h5><strong>Dados do Veterinário: </strong></h5>
            <p>CRMV: <span th:text="${veterinario.crmv}"></span></p>
            <p>Nome: <span th:text="${veterinario.nome}"></span></p>
            <p>Idade: <span th:text="${veterinario.idade}"></span></p>
            <p>Telefone: <span th:text="${veterinario.telefone}"></span></p>
            <p>E-mail: <span th:text="${veterinario.email}"></span></p>
            <p>Endereço Residencial: <span th:text="${veterinario.endereco_residencial}"></span></p>
        </div>
        
        <p>Clique no link a seguir caso queira voltar para a <strong>Lista de Consultas</strong> da Clinica Pet Shop: <a th:href="${(#mvc.url('VC#listaConsultas').arg(0, consulta.veterinario.crmv)).build()}"><span th:text="${consulta.veterinario.clinica.nome}"></span></a></p>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    </body>    
</html>




